<nav class="navbar navbar-expand-md navbar-light bg-faded">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn" (click)="toggleSidenav()">
        <i class="glyphicon glyphicon-align-left"></i>
        <span>Toggle Sidebar</span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Page</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
