.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
@media (min-width: 960px) { 
  .burger {
    display: none;
  }
}
mat-toolbar {
  background: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}
