.d3-chart {
  display: block;
  position: relative;
  width: 100%;
}

svg {
  width: 100%;
  height: 100%;
}

svg .background {
  fill: none;
  pointer-events: all;
  width: 100%;
  height: 100%;
}

.states {
  fill: #3a4651;
  stroke: rgb(93, 93, 93);
}

.states :hover {
  fill: orange;
}

.states .active {
  fill: orange;
}

.stats {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 5% 10%;
}

.text-white {
  color: #fff;
}

.text-warning {
  color: #f0b518;
}

.no-margin {
  margin: 0;
}

.feature {
  fill: #ccc;
  cursor: pointer;
}

.feature.active {
  fill: orange;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.aus-map {
  display: block;
  width: 100%;
}
