.d3-chart {
  display: block;
  position: relative;
  width: 100%;
}

svg {
  width: 100%;
}

svg .background {
  fill: none;
  pointer-events: all;
  width: 100%;
  height: 100%;
}

.states {
  fill: #3a4651;
  stroke: rgb(93, 93, 93);
  /* stroke-dashoffset: 0;
  stroke-dasharray: 700;
  stroke-linecap: round;
  stroke-linejoin: round; */
}

.states :hover {
  fill: orange;
  width: 150px;
  height: 150px;
  box-shadow: 120px 80px 40px 20px #0ff;
}

.states .active {
  fill: orange;
}

.stats {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 5% 10%;
}

.text-white {
  color: #fff;
}

.no-margin {
  margin: 0;
}

.map-legend {
  display: flex;
  color: #f0b518;
  margin: 0;
}
.tooltip {
  color: #222; 
  background: #fff; 
  border-radius: 3px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  padding: .2em; 
  text-shadow: #f5f5f5 0 1px 0;
  opacity: 0.9; 
  position: absolute;
}

.hidden {
  display: none;
}
