.example-icon {
  padding: 0 14px;
}
button {
  color: rgba(0, 0, 0, 0.54);
}
.example-spacer {
  flex: 1 1 auto;
}
.logo {
  width: 32px;
  margin-right: 5px;
}

@media (min-width: 767px) { 
  .burger {
    display: none;
  }
}
