<div>
  <form [formGroup]="filterForm" (ngSubmit)="onSubmit()" novalidate>
    <div fxLayout='row' fxLayoutGap="15px">
      <div fxFlex="33" class="item">
        <mat-form-field>
          <mat-select placeholder="Selected period"  formControlName="selectedPeriod">
            <mat-option *ngFor="let period of periods" [value]="period.value">
              {{ period.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="33" class="item">
        <mat-form-field>
          <input matInput [matDatepicker]="startDate" placeholder="Start date" (dateChange)="addStartEvent('change', $event)" formControlName="selectedStartDate">
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxFlex="33" class="item">
        <mat-form-field>
          <input matInput [min]="this.formValues.startDate" [matDatepicker]="endDate" placeholder="End date" (dateChange)="addEndEvent('change', $event)" formControlName="selectedEndDate">
          <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
