.app-container {
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 100%;
}

.app-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.app-sidenav {
  padding: 20px;
}

h1 {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  margin-left: 12px;
  font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin: 0;
}

mat-sidenav {
  width: 250px;
  background: #001529;
  -webkit-box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}

.sidenav-header {
  height: 64px;
  position: relative;
  line-height: 64px;
  padding-left: 24px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  background: #002140;
  overflow: hidden;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
}

.content {
  margin: 15px;
}

.mat-nav-list .mat-list-item {
  color: rgba(255, 255, 255, 0.65);
}

.mat-nav-list .mat-list-item.selected {
  color: #fff;
}
