<mat-sidenav-container class="mat-typography">
  <mat-sidenav #sidenav [mode]="mode" [opened]="open">
    <div class='sidenav-header'>
      <a href="#/">
        <img class="logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
        <h1>Angular Admin</h1>
      </a>
    </div>
    <mat-nav-list *ngFor="let menu of menus">
      <mat-list-item routerLink={{menu.link}} [class.selected]="menu.link === selectedLink" (click)="onSelect(menu.link)">
        <mat-icon mat-list-icon>{{menu.icon}}</mat-icon>
        <h4 mat-line>{{menu.label}}</h4>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>
  <div class="content-container">
    <app-toolbar (toggleMenu)="toggleSidenav()"></app-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
