<mat-sidenav-container class="mat-typography">
  <mat-sidenav #sidenav [mode]="mode" [opened]="open">
    <div class='sidenav-header'>

    </div>
    <mat-nav-list *ngFor="let menu of menus">
      <mat-list-item routerLink={{menu.link}} [class.selected]="menu.link === selectedLink" (click)="onSelect(menu.link)">
        <mat-icon mat-list-icon>{{menu.icon}}</mat-icon>
        <h4 mat-line>{{menu.label}}</h4>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>
  <div class="content-container">
    <app-toolbar (toggleMenu)="toggleSidenav()"></app-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
