<!-- <mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav">
    Jolly good!
  </mat-sidenav>

  <div class="example-sidenav-content">
    <app-header></app-header>
  </div>

</mat-sidenav-container> -->
<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav class="app-sidenav">
    Jolly good!
  </mat-sidenav>

  <div class="app-sidenav-content">
    <button type="button" mat-button (click)="sidenav.open()">
      Open sidenav
    </button>
  </div>

</mat-sidenav-container>
