.mat-sidenav {
  width: 240px;
  background-color: #3a4651;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  z-index: 20;
}

.mat-list-item-content {
  color: white;
}

.mat-nav-list .mat-list-item {
  color: white;
}

.mat-nav-list .selected {
  color: #8bc34a;
}

@media (min-width: 767px) { 
  .mat-sidenav {
    width: 64px;
  }
}
