<div fxLayout='row' fxLayoutGap="20px">
  <div fxFlex="25" class="item">
    <app-widget-sale></app-widget-sale>
  </div>
  <div fxFlex="25" class="item">
    <app-widget-visitor></app-widget-visitor>
  </div>
  <div fxFlex="25" class="item">
    <app-widget-payments></app-widget-payments>
  </div>
  <div fxFlex="25" class="item">
    <app-widget-profit></app-widget-profit>
  </div>
</div>

<mat-card>
  <app-widget-toolbar></app-widget-toolbar>
  <mat-tab-group>
    <mat-tab label="Sales">
      <div fxLayout='row' fxLayoutGap="15px" class="tab-content">
        <div fxFlex="60" class="item">
          <app-sale-line-chart [data]="transactionSummary"></app-sale-line-chart>
        </div>
        <div fxFlex="20">
          <app-widget-website-conversions></app-widget-website-conversions>
        </div>
        <div fxFlex="20">
          <app-widget-top-salers></app-widget-top-salers>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Vistors">
      <div fxLayout='row' fxLayoutGap="15px" class="tab-content">
        <div fxFlex="60" class="item">
          <app-visitor-line-chart></app-visitor-line-chart>
        </div>
        <div fxFlex="20">
          <app-widget-traffic-source></app-widget-traffic-source>
        </div>
        <div fxFlex="20">
          <app-widget-top-referrals></app-widget-top-referrals>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
