<!-- 
<div class="col" *ngFor="let hero of heroes;let i = index">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <img [src]="images[0]">
      </div>
      <mat-card-title>{{hero.name}}</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
        very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary">View</button>
    </mat-card-actions>
  </mat-card>
</div> -->


<div class="row">
  <div class="col-4">
    <mat-card>
      <mat-card-content>

      </mat-card-content>

    </mat-card>
  </div>
  <div class="col-4">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="card-header-image">
            <mat-icon>people</mat-icon>
        </div>
        <mat-card-title>Total Heros</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-6">
            <div>Assiged</div>
            <h2>{{heroes?.length}}</h2>
          </div>
          <div class="col-6">
            <div>Injuried</div>
            <h2>{{heroes?.length}}</h2>
          </div>
        </div>
      </mat-card-content>

    </mat-card>
  </div>
  <div class="col-4">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="card-header-image hero-image"></div>
        <mat-card-title>Total Heros</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-6">
            <div>Assiged</div>
            <h2>{{heroes?.length}}</h2>
          </div>
          <div class="col-6">
            <div>Injuried</div>
            <h2>{{heroes?.length}}</h2>
          </div>
        </div>
      </mat-card-content>

    </mat-card>
  </div>
</div>
<!-- <div>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <img [src]="images[0]">
      </div>
      <mat-card-title>Total Heros</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
        very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary">View</button>
    </mat-card-actions>
  </mat-card>
</div> -->
