<div class="row">
  <div class="col-sm-12 col-md-8">
    <!-- <app-barchart *ngIf="chartData" [data]="chartData"></app-barchart> -->
    <app-aus-map *ngIf="chartData" [data]="chartData"></app-aus-map>
  </div>
  <div class="col-sm-12 col-md-4">
    <mat-card>
      <mat-card-title-group>
        <mat-card-title>Card with title</mat-card-title>
        <mat-card-subtitle>Subtitle</mat-card-subtitle>
        <img mat-card-mat-image>
      </mat-card-title-group>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-6">
    <mat-card>
      <mat-card-title-group>
        <mat-card-title>Card with title</mat-card-title>
        <mat-card-subtitle>Subtitle</mat-card-subtitle>
      </mat-card-title-group>

      <mat-card-content>
        <app-recent-activity></app-recent-activity>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-sm-12 col-md-6">
    <mat-card>
      <mat-card-title-group>
        <mat-card-title>Card with title</mat-card-title>
        <mat-card-subtitle>Subtitle</mat-card-subtitle>

      </mat-card-title-group>

      <mat-card-content>
        <app-radar-chart></app-radar-chart>
        <app-stats-card></app-stats-card>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row">

</div>
